@font-face {
  font-family: 'Coca-ColaCareFont';
  font-style:  normal;
  font-display: auto;
  font-weight: normal;
  src: url("fonts/Coca-ColaCareFont-TextRegular.woff2") format("woff2"),
       url("fonts/Coca-ColaCareFont-TextRegular.woff") format("woff");
}
@font-face {
  font-family: 'fzskbxkjw';
  font-style:  normal;
  font-display: auto;
  font-weight: normal;
  src: url("fonts/FZSKBXKJW.woff2") format("woff2"),
       url("fonts/FZSKBXKJW.woff") format("woff");
}


@font-face {
  font-family: 'Cascadia Code PL';
  font-style:  normal;
  font-display: auto;
  font-weight: normal;
  src: url("fonts/CascadiaCodePL.woff2") format("woff2");
}

@font-face {
  font-family: 'Cascadia Code PL';
  font-style:  italic;
  font-display: auto;
  font-weight: normal;
  src: url("fonts/CascadiaCodePLItalic.woff2") format("woff2");
}
