.posts {
  width: 100%;
  //max-width: 850px;
  max-width: 100%;
  text-align: center;
  padding: 20px;
  margin: 20px auto;

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
   // font-style: italic;
    font-size: 1rem;
  }

  &-group {
    display: flex;
    margin-bottom: 0em;
    line-height: normal;

  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: 1.25rem;
  }

  .post {
    &-title {
      font-size: 1.625rem;
      margin: 1px auto 1px auto;
    }

    &-item {
      border-bottom: 0px grey dashed;
      list-style-type: none;

      a {
        display: inline-flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 0;
        text-decoration: none;
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      font-size: 12px;
      color: darkgray;
    }
  }
}
