.navbar-menu {
    margin: 1px 20%;
}

.navbar-start {
    font-size: 1.725rem;
    //font-family: 'Cascadia Code', Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-end {
    font-size: 1.5rem;
    //font-family: 'cwtex','SF Pro Display', Cochin, Georgia, Times, 'Times New Roman', serif;
}
