#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Use text install
text
repo --name="AppStream" --baseurl=https://mirrors.aliyun.com/centos/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/
# Use network installation
url --url="https://mirrors.aliyun.com/centos/8/BaseOS/x86_64/os/"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$DtIKFM645EP8cxym$3FbhkZkyFU0pqjBC6huvUez/VT6qJQkZ0c5.iksmZE9PG2Oiy.kttUWcbs382WZK1WEy9NgKgABrwrDnyhC1E.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=20479

%packages
@^minimal-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

