#### example...
#sudo virt-install \
#  --name nke1     \
#  --ram=2048      \
#  --vcpus=2       \
#  --graphics none \
#  --disk path=/data/vms/nke1.img,size=22 \
#  --location=https://mirrors.aliyun.com/centos/8/BaseOS/x86_64/os/ \
#  --extra-args="ks=https://xulin.me/ks.cfg console=tty0 console=ttyS0,115200"
#####
#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use text install
text
repo --name="AppStream" --baseurl=https://mirrors.aliyun.com/centos/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/
# Use network installation
url --url="https://mirrors.aliyun.com/centos/8/BaseOS/x86_64/os/"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
#-> p@ssw0rd
rootpw --iscrypted $6$x0cYg6mV3uA2ecw6$poG73hKNzDG46YVC9csnz98XQgqhQazgVRQ8UzwQCJG5agZ6SwgAZ7KbbOdZZb5HuCJRUtMAPFE7FJfDor0YW0
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc

%packages
@^minimal-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

