<nav class="navbar">
    <div class="navbar-menu is-white">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                {% block title %}{{ config.title }}{% endblock title %}
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/blog">
                博客
            </a>
            <a class="navbar-item" href="/daily">
                每日
            </a>
            <a class="navbar-item" href="/weekly">
                周刊
            </a>
        </div>
    </div>
</nav>
