<nav class="navbar" >
    <div class="navbar-menu is-white is-active">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                {% block title %}{{ config.title }}{% endblock title %}
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="/blog">
                博客
            </a>
            <a class="navbar-item" href="/photos">
                相册
            </a>
            <a class="navbar-item" href="/daily">
                每日
            </a>
            <a class="navbar-item" href="/books">
                小册
            </a>
        </div>
    </div>
</nav>
