{% extends "base.html" %} {% import "macros.html" as macros %} {% block content
%}
<main class="posts">
    <div class="posts-content">{{ section.content | safe }}</div>

    {% for page in paginator.pages %}
    <div class="post-daily">
        {% if page.extra.stat %}
        <div class="daily-stat">{{ page.extra.stat }}</div>
        {% endif %}
        <h2 class="post-title">{{ page.title }}</h2>
        <div class="post-content">{{ page.content | safe }}</div>
        <!--
    <p class="subtitle"><strong>{{ page.date }}</strong></p>
    <p class="subtitle"><strong>{{ page.draft }}</strong></p>
    --></div>
    {% endfor %}

    <nav class="pagination">
        {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">⎝</a>
        {% else %}
        <span class="not-exist">⎝</span>
        {% endif %}
        <span class="current-idx"> {{ paginator.current_index }}</span>
        {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">⎠</a>
        {% else %}
        <span class="not-exist">⎠</span>
        {% endif %}
    </nav>
</main>

{% endblock content %}
