{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main class="posts">
  <!--
  <h1 class="title">
    {{ section.title }}
  </h1>
  -->

  <div class="posts-content">
    {{ section.content | safe }}
  </div>
  
  <div class="posts-group">
  <ul class="posts-list">
    {% for page in section.pages %}
    <li class="post-item">
      <a href="{{ page.permalink | safe }}">
        <span class="post-title">{{ page.title }}</span>
        <span class="post-day">{{ macros::format_date(date=page.date) }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  </div>
</main>


{% endblock content %}