{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main class="photos">

  <div class="photos-content">
    {{ section.content | safe }}
  </div>
  
  <div class="tile is-ancestor photos-list">

    <div class="tile is-align-items-start">
    {% for page in paginator.pages %}


      {% if loop.first %}
      <div class="tile is-parent is-vertical">
      {% endif %}
      
        <div class="tile is-child">
          {{ page.content | safe }}
        </div>

      {% if loop.index is divisibleby(5) or loop.last%}
      </div>
      {% endif %}

      {% if loop.index is divisibleby(5) and not loop.last %}
      <div class="tile is-parent is-vertical">
      {% endif %}

    {% endfor %}
    </div>
  </div>

  <nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">⎝</a>
    {% else %}
        <span class="not-exist">⎝</span>
    {% endif %}
        <span class="current-idx"> {{ paginator.current_index }}</span> 
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">⎠</a>
    {% else %}
        <span class="not-exist">⎠</span>
    {% endif %}
  </nav>

</main>

{% endblock content %}