{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main class="photos">

  <div class="tile is-ancestor is-vertical photos-list">
    <div class="tile is-align-items-start">

      {% if paginator.paginate_by > paginator.total_pages %}
        {% set column_by = paginator.total_pages / 3 | int %}
      {% else %}
        {% set column_by = paginator.paginate_by / 3 | int %}
      {% endif %}

      <div class="tile is-parent is-vertical photos-left">
      {% for page in paginator.pages | slice(start=0, end=column_by) %}
        {% include "partials/photo.html" %}
      {% endfor %}
      </div>

      <div class="tile is-parent is-vertical photos-left">
      {% for page in paginator.pages | slice(start=column_by, end=2*column_by) %}
        {% include "partials/photo.html" %}
      {% endfor %}
      </div>

      <div class="tile is-parent is-vertical photos-left">
      {% for page in paginator.pages | slice(start=2*column_by) %}
        {% include "partials/photo.html" %}
      {% endfor %}
      </div>

    </div>
  </div>

  <nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">⎝</a>
    {% else %}
        <span class="not-exist">⎝</span>
    {% endif %}
        <span class="current-idx"> {{ paginator.current_index }}</span> 
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">⎠</a>
    {% else %}
        <span class="not-exist">⎠</span>
    {% endif %}
  </nav>

</main>

{% endblock content %}