{% extends "base.html" %}

{% block content %}
<main class="post">

  <h2 class="post-title">
    {{ page.title }}
  </h2>

  <div class="post-content">
    {{ page.content | safe }}
  </div>

  <!--
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
  <p class="subtitle"><strong>{{ page.draft }}</strong></p>
  -->
  
<div class="by-nc-nd">
  <span>署名-非商业性使用-禁止演绎 3.0 国际<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">（CC BY-NC-ND 3.0）</a></span>
</div>
</main>


{% endblock content %}